html, body {
    margin: 0;
    padding: 0;
    background: #ddd;
  }
  canvas {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
  